<div class='container'>
    <div class='row'>
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <h2>商品一覧</h2>
            <table class='table'>
              <thead>
                <tr>
                    <th>商品ID</th>
                    <th>商品名</th>
                    <th>税抜価格</th>
                    <th>ジャンル</th>
                    <th>ステータス</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td>洋梨のチーズタルト </td>
                      <td>1,200 </td>
                      <td>ケーキ</td>
                      <td>販売中</td>
                  </tr>
            </table>
        </div>
    </div>
</div>