<div class='container'>
    <div class='row'>
            <h2>注文履歴詳細</h2>
    </div>
</div>
<div class='container'>
    <div class='row'>
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <p>購入者</p>　<%= @order.name %>
            <p>注文日</p>　
            <p>配送先</p>　
            <p>支払方法</p>　
            <p>注文ステータス</p>　
        </div>
    </div>
</div>