<h2><%= @item.name%></h1>
<%= @item.introduction %>
<p>
  <%= number_to_currency(@item.add_total_payment, unit:'￥', strip_insignificant_zeros: true) %>
  <span>(税込)</span>
</p>
<%= render 'amount', cart:@cart%>